:root {
  --bg-color: radial-gradient(#bd93f9, #000);
  --font-color: #000;
  --calc-color: #dddddc;
  --calc-aside-color: #a6a7b9;
  --visor-color: #a5a7b9;
  --sombra-teclado: #3e4052;
  --teclas-cor: #a5a7b9;
}
.dark:root {
  --bg-color: radial-gradient(rgb(40, 42, 54), rgb(0, 0, 0));
  --font-color: greenyellow;
  --calc-color: #151516;
  --calc-aside-color: #27272c;
  --visor-color: #0f0f0f;
  --sombra-teclado: #000;
  --teclas-cor: #6c6d79;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  color: var(--font-color);
}
main {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: var(--bg-color);
}
.calculadora_svg {
  height: 80vh;
}
svg {
  height: 100%;
}
.calc-body {
  fill: var(--calc-color);
}
.calc-aside {
  fill: var(--calc-aside-color);
}
#icc-shadow {
  fill: var(--sombra-teclado);
}
@media (max-width: 700px) {
  svg {
    width: 100%;
  }
  .calculadora_svg {
    height: 100%;
    width: 95%;
  }
}
.teclado:hover {
  cursor: pointer;
}

.teclado rect {
  stroke: #000;
  fill: var(--teclas-cor);
  stroke-width: 5px;
}
.teclado > g:hover > rect {
  fill: rgb(123, 123, 136);
}
.teclado g {
  transition: transform 0.2s ease-out;
}
.teclado g:active {
  transform: translate(-12px, 2px);
}
#icc_visor {
  fill: var(--visor-color);
}
#visor {
  position: absolute;
}
#visor::after {
  content: "";
  position: inherit;
  width: inherit;
  height: inherit;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: none;
}
#input-calc {
  font-family: 'Courier New', monospace; 
  color: var(--font-color);
  height: 100%;
  width: 99%;
  background: transparent !important;
  outline: none;
  border: none;
  font-size: 40px;  
  text-align: right; 
}
span::selection{
  background: none;  
}
